body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fundo{
    width: 100%;
    height: 600px;
    border-bottom: 20px solid green;
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
    overflow: hidden;
}

.cano{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 60px;
    right: -80px; 
}

.mario{
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 150px;
}

h1{
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#pontuacao{
    color: red;
    font-size: 30px;
}

#pontuacaoFinal{
    color: red;
    font-size: 30px;
}

#recorde{
    color: red;
    font-size: 30px;
}

#gameOver{
    display: flex;
    width: 40%;
    justify-self: center;
}

.botoes{
    display: flex;
    justify-content: end;
}

#pular{
    width: 50px;
    height: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue; 
}

#iniciar{
    width: 50px;
    height: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue; 
}

.pulo{
    animation: pulo-mario 500ms;
}

.animacaoCano{
    animation: animacao-cano 1s infinite linear;
}

@keyframes animacao-cano{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes pulo-mario {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom:180px;
    }
    100%{
        bottom: 0;
    }
}